@font-face {
  font-family: 'ams-icons';
  src:  url('fonts/ams-icons.eot?fo8kqc');
  src:  url('fonts/ams-icons.eot?fo8kqc#iefix') format('embedded-opentype'),
    url('fonts/ams-icons.ttf?fo8kqc') format('truetype'),
    url('fonts/ams-icons.woff?fo8kqc') format('woff'),
    url('fonts/ams-icons.svg?fo8kqc#ams-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ams-"], [class*=" ams-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ams-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ams-check:before {
  content: "\e900";
}
.ams-cog:before {
  content: "\e901";
}
.ams-cross:before {
  content: "\e902";
}
.ams-dashboard:before {
  content: "\e903";
}
.ams-excel:before {
  content: "\e904";
}
.ams-horizontal-ellipse:before {
  content: "\e905";
}
.ams-list:before {
  content: "\e906";
}
.ams-notification:before {
  content: "\e907";
}
.ams-pdf:before {
  content: "\e908";
}
.ams-report:before {
  content: "\e909";
}
.ams-search:before {
  content: "\e90a";
}
.ams-signin:before {
  content: "\e90b";
}
.ams-signout:before {
  content: "\e90c";
}
.ams-stocks:before {
  content: "\e90d";
}
.ams-toggle-list:before {
  content: "\e90e";
}
.ams-truck:before {
  content: "\e90f";
}
.ams-vertical-ellipse:before {
  content: "\e910";
}
.ams-word:before {
  content: "\e911";
}
